<!-- Start Footer bottom Area -->
<footer class="aniview" data-av-animation="bounceIn">
        <div class="footer-area">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="footer-content">
                  <div class="footer-head">
                    <div class="footer-logo">
                      <h2><span>Pet</span>APP</h2>
                    </div>
                    <div class="fa fa-building" style="font-size: 30px; color: #04959a"></div> Circuito Superior Pozuelos No.1, C.P. 36050, Guanajuato, Guanajuato, México
                      <br>
                    <div class="fa fa-phone mt-3" style="font-size: 30px; color: #04959a"></div> 01 (473) 73 522 00
                      <br>
                    <div class="fa fa-envelope mt-3" style="font-size: 30px; color: #04959a"></div> contact@petapp.com
                      <br>
                    <div class="fa fa-lock mt-3" style="font-size: 30px; color: #04959a"></div> Propiedad de PetAPP
                    <div class="footer-icons">
                      <ul>
                        <li>
                          <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-google"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-pinterest"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end single footer -->
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="footer-content">
                  <div class="footer-head">
                    <h4>Únete a como clínica veterinaria asociada</h4>
                    <p>
                      Cómo clínica asociada gozarás de muchos beneficios, entre ellos, publicidad en nuestra página web, acceso al sistema de veterinarias asociadas, registro electrónico de clientes, mascotas y procedimientos.
                    </p>
                    <p>
                      Comunícate con nosotros para saber más.	
                    </p>
                  </div>
                </div>
              </div>
              <!-- end single footer -->
            </div>
          </div>
        </div>
        <div class="footer-area-bottom">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="copyright text-center">
                  <p>
                    &copy; Copyright <strong>eBusiness</strong>. All Rights Reserved
                  </p>
                </div>
                <div class="credits">
                  <!--
                    All the links in the footer should remain intact.
                    You can delete the links only if you purchased the pro version.
                    Licensing information: https://bootstrapmade.com/license/
                    Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eBusiness
                  -->
                  Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
                  <div class="my-2">
                  <a href="#"><img class="img-responsive img-rounded center-block" width="100" src="../../../assets/img/validator/W3C_valid.svg.png" alt="Validador WC3"></a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </footer>